<template>
  <div id="app">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">MARC 21 Standards for ISSN</h1>
            <p class="subtitle">{{ appVersion }}</p>
          </div>
          <div class="column has-text-right">
            <b-dropdown v-model="fullProfile" aria-role="list" @change="initTabs">

              <template #trigger="{ active }">
                <b-button
                  :label="(fullProfile) ? 'Full MARC21 profile' : 'ISSN MARC21 profile'"
                  :type="primaryColor"
                  icon-right="menu-down">
                </b-button>
              </template>

              <b-dropdown-item :value="true" aria-role="listitem">
                <p class="has-text-bold">Full MARC21 profile</p>
              </b-dropdown-item>
              <b-dropdown-item :value="false" aria-role="listitem">
                <p class="has-text-bold">ISSN MARC21 profile</p>
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>

        <b-tabs
          type="is-toggle"
          v-model="activeTab"
          :multiline="true"
        >
          <template v-for="tab in tabs">
            <b-tab-item v-if="tab.fields.length > 0">
              <template #header>
                <span :class="primaryColor">
                  {{ tab.label }}
                </span>
              </template>

              <div v-for="field in tab.fields" :key="field.tag">
                <div :id="field.tag" class="card mb-3">

                  <LeaderField
                    :primaryColor="primaryColor"
                    :field="field"
                    :fullProfile="fullProfile"
                    v-if="field.tag === 'LDR'"
                  >
                  </LeaderField>

                  <ControlField
                    :primaryColor="primaryColor"
                    :field="field"
                    :fullProfile="fullProfile"
                    v-else-if="['001', '003', '005', '006', '007', '008'].includes(field.tag)"
                  >
                  </ControlField>

                  <DataField
                    :primaryColor="primaryColor"
                    :field="field"
                    :fullProfile="fullProfile"
                    v-else-if="!field.tag.startsWith('00') && field.tag !== 'LDR'"
                  >
                  </DataField>

                </div>
              </div>
            </b-tab-item>
          </template>
        </b-tabs>
      </div>
    </section>
  </div>
</template>

<script>
import schemaRegister from "../dist/himarc-register.schema.json";
import LeaderField from "./LeaderField";
import ControlField from "./ControlField";
import DataField from "./DataField";
import {version} from '../package';

export default {
  name: "App",
  data() {
    return {
      tabs: [],
      allFields: [],
      activeTab: 0,
      appVersion: version,
      fullProfile: false
    };
  },
  components: {
    LeaderField,
    ControlField,
    DataField,
  },
  beforeMount() {
    this.allFields = Object.keys(schemaRegister.properties.fields.properties)
      .sort((a, b) => (a === "LDR" ? -Infinity : b === "LDR" ? Infinity : a - b))
      .map((tag) => {
        return {
          tag,
          value: schemaRegister.properties.fields.properties[tag],
        };
      })
      .map(({ tag, value }) => {
        const output =
          value.type === "array"
          ? { tag, value: { ...value, ...value.items } }
          : { tag, value };
        return output;
      });

    // set tab filters
    this.initTabs(false);
  },
  computed: {
    primaryColor() {
      return (this.fullProfile) ? "is-info" : "is-primary";
    },
  },
  methods: {
    getProfileFields(fullProfile) {
      if (fullProfile) {
        return this.allFields;
      } else {
        return this.allFields.filter((field) => {
          const hasIssnProfile = field.value.hasOwnProperty("ISSNProfile");
          let subfieldsHaveIssnProfile;
          try {
            subfieldsHaveIssnProfile = Object.values(
              field.value.properties.subFields.items.properties
            ).some(
              (subfield) => subfield.hasOwnProperty("ISSNProfile")
            );
          } catch (err) {
            subfieldsHaveIssnProfile = false;
          }

          return hasIssnProfile || subfieldsHaveIssnProfile;
        });
      }
    },
    initTabs(value) {
      const profileFields = this.getProfileFields(value);
      this.tabs = [
        {
          label: "Leader",
          fields: this.allFields.filter((field) => field.tag === "LDR"),
        },
        {
          label: "00X: Control Fields",
          fields: this.allFields.filter((field) => /00[1-9]/.test(field.tag)),
        },
        {
          label: "01X-09X: Numbers and Code",
          fields: profileFields.filter((field) => /0[1-9][0-9]/.test(field.tag)),
        },
        {
          label: "1XX: Main Entry",
          fields: profileFields.filter((field) => /1[0-9][0-9]/.test(field.tag)),
        },
        {
          label: "20X-24X - Title and Title-Related",
          fields: profileFields.filter((field) => /2[0-4][0-9]/.test(field.tag)),
        },
        {
          label: "25X-28X: Edition, Imprint, Etc.",
          fields: profileFields.filter((field) => /2[5-8][0-9]/.test(field.tag)),
        },
        {
          label: "3XX: Physical Description, Etc.",
          fields: profileFields.filter((field) => /3[0-9][0-9]/.test(field.tag)),
        },
        {
          label: "4XX: Series Statement",
          fields: profileFields.filter((field) => /4[0-9][0-9]/.test(field.tag)),
        },
        {
          label: "5XX: Note",
          fields: profileFields.filter((field) => /5[0-9][0-9]/.test(field.tag)),
        },
        {
          label: "6XX: Subject Access",
          fields: profileFields.filter((field) => /6[0-9][0-9]/.test(field.tag)),
        },
        {
          label: "70X-75X: Added Entry",
          fields: profileFields.filter((field) => /7[0-5][0-9]/.test(field.tag)),
        },
        {
          label: "76X-78X: Linking Entry",
          fields: profileFields.filter((field) => /7[6-8][0-9]/.test(field.tag)),
        },
        {
          label: "80X-83X: Series Added Entry",
          fields: profileFields.filter((field) => /8[0-3][0-9]/.test(field.tag)),
        },
        {
          label: "841-88X: Holdings, Location, Alternate Graphics, Etc.",
          fields: profileFields.filter((field) => /8[4-8][0-9]/.test(field.tag)),
        },
      ];
      this.activeTab = 0;
    }
  },
};
</script>

<style lang="scss">
@import "./styles/_colors.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* hack to change selected tab background color according to selected profile */
.tabs.is-toggle li {
  a {
    padding: 0;
    span {
      padding: 0.5em 1em;
    }
  }
  &.is-active {
    a {
      background-color: transparent;
      border-color: transparent;
      span {
        &.is-primary {
          background-color: $primary;
          border-color: $primary;
        }
        &.is-info {
          background-color: $info;
          border-color: $info;
        }
      }
    }
  }
}
</style>
