<template>
  <div>
    <!-- 001 / 003 / 005 -->
    <div v-if="['001', '003', '005'].includes(field.tag)">
      <header class="card-header">
        <p class="card-header-title">
          <span class="tag is-medium mr-2" :class="primaryColor">
            {{ field.tag }}
          </span>
          {{ field.value.title }}
          <span class="tag is-light mx-2">
            {{ field.value.isRepeatable ? "R" : "NR" }}
          </span>
          <span
            class="tag is-warning is-light mx-2"
            v-if="field.value.ISSNProfile"
          >
            {{ field.value.ISSNProfile }}
          </span>
        </p>
      </header>
    </div>
    <!-- END 001 / 003 / 005 -->

    <!-- 006 -->
    <div :id="field.tag" v-if="field.tag === '006'">
      <header class="card-header">
        <p class="card-header-title">
          <span class="tag is-medium mr-2" :class="primaryColor">006</span>
          {{ field.value.title }}
          <span class="tag is-light mx-2">
            {{ field.value.isRepeatable ? "R" : "NR" }}
          </span>
          <span
            class="tag is-warning is-light mx-2"
            v-if="field.value.ISSNProfile"
          >
            {{ field.value.ISSNProfile }}
          </span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <table
            class="table is-narrow is-striped is-hoverable is-bordered"
            v-for="(field006Type, name) in field006Types"
            :key="name"
          >
            <thead class="has-background-info-light">
              <tr>
                <th colspan="3">
                  {{ name }}
                </th>
              </tr>
            </thead>
            <thead class="has-background-info-light">
              <tr>
                <th class="has-text-centered">Position</th>
                <th class="has-text-centered">Title</th>
                <th class="has-text-centered">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="[position, value] in sortObjectPositions(field006Type.properties.positions.properties)"
                :key="position"
              >
                <td class="has-text-right">{{ position }}</td>
                <td class="has-text-left">
                  {{ value.title }}
                  <span
                    class="tag is-warning is-light mx-2"
                    v-if="value.ISSNProfile"
                  >
                    {{ value.ISSNProfile }}
                  </span>
                </td>
                <td>
                  <table
                    class="table is-narrow is-striped is-hoverable is-bordered"
                    v-if="'codes' in value"
                  >
                    <thead class="has-background-info-light">
                      <tr>
                        <th class="has-text-right is-narrow">Code</th>
                        <th class="has-text-left">Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(value, code) in value.codes"
                        :key="value.title"
                      >
                        <td class="has-text-right">{{ code }}</td>
                        <td class="has-text-left">{{ value.title }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END 006 -->

    <!-- 007 -->
    <div :id="field.tag" v-if="field.tag === '007'">
      <header class="card-header">
        <p class="card-header-title">
          <span class="tag is-medium mr-2" :class="primaryColor">007</span>
          {{ field.value.title }}
          <span class="tag is-light mx-2">
            {{ field.value.isRepeatable ? "R" : "NR" }}
          </span>
          <span
            class="tag is-warning is-light mx-2"
            v-if="field.value.ISSNProfile"
          >
            {{ field.value.ISSNProfile }}
          </span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <table
            class="table is-narrow is-striped is-hoverable is-bordered"
            v-for="(field007Category, index) in field007Categories"
            :key="index"
          >
            <colgroup>
              <col style="width: 5%" />
              <col style="width: 20%" />
            </colgroup>

            <thead class="has-background-info-light">
              <tr>
                <th colspan="3">
                  {{ getField007CategoryTitle(field007Category) }}
                </th>
              </tr>
            </thead>

            <thead class="has-background-info-light">
              <tr>
                <th class="has-text-centered">Position</th>
                <th class="has-text-centered">Title</th>
                <th class="has-text-centered">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="[position, value] in sortObjectPositions(field007Category)"
                :key="position"
              >
                <td class="has-text-right">{{ position }}</td>
                <td class="has-text-left">
                  {{ value.title }}
                  <span
                    class="tag is-warning is-light mx-2"
                    v-if="value.ISSNProfile"
                  >
                    {{ value.ISSNProfile }}
                  </span>
                </td>
                <td>
                  <table
                    class="table is-narrow is-striped is-hoverable is-bordered"
                    v-if="'codes' in value"
                  >
                    <thead class="has-background-info-light">
                      <tr>
                        <th class="has-text-right is-narrow">Code</th>
                        <th class="has-text-left">Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(value, code) in value.codes"
                        :key="value.title"
                      >
                        <td class="has-text-right">{{ code }}</td>
                        <td class="has-text-left">{{ value.title }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END 007 -->

    <!-- 008 -->
    <div :id="field.tag" v-if="field.tag === '008'">
      <header class="card-header">
        <p class="card-header-title">
          <span class="tag is-medium mr-2" :class="primaryColor">008</span>
          {{ field.value.title }}
          <span class="tag is-light mx-2">
            {{ field.value.isRepeatable ? "R" : "NR" }}
          </span>
          <span
            class="tag is-warning is-light mx-2"
            v-if="field.value.ISSNProfile"
          >
            {{ field.value.ISSNProfile }}
          </span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <table
            class="table is-narrow is-striped is-hoverable is-bordered"
            v-for="(field008Type, name) in field008Types"
            :key="name"
          >
            <thead class="has-background-info-light">
              <tr>
                <th colspan="3">
                  {{ name }}
                </th>
              </tr>
            </thead>

            <thead class="has-background-info-light">
              <tr>
                <th class="has-text-centered" style="width: 5%">
                  Position
                </th>
                <th class="has-text-centered" style="width: 30%">
                  Title
                </th>
                <th class="has-text-centered">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="[position, value] in sortObjectPositions(field008Type.properties.positions.properties)"
                :key="position"
              >
                <td class="has-text-right">{{ position }}</td>
                <td class="has-text-left">
                  {{ value.title }}
                  <span
                    class="tag is-warning is-light mx-2"
                    v-if="value.ISSNProfile"
                  >
                    {{ value.ISSNProfile }}
                  </span>
                </td>
                <td>
                  <table
                    class="table is-narrow is-striped is-hoverable is-bordered"
                    v-if="'codes' in value"
                  >
                    <thead class="has-background-info-light">
                      <tr>
                        <th class="has-text-right is-narrow">Code</th>
                        <th class="has-text-left">Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(value, code) in value.codes"
                        :key="value.title"
                      >
                        <td class="has-text-right">{{ code }}</td>
                        <td class="has-text-left">{{ value.title }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import schemaRegister from "../dist/himarc-register.schema.json";

export default {
  name: "ControlField",
  props: {
    field: Object,
    primaryColor: String,
    fullProfile: Boolean,
  },
  computed: {
    field006Types() {
      const filter = (this.fullProfile) ? /\.*/ : this.$ISSN_PROFILE_006_TITLES_RE;
      return this.getFieldTypes(filter, "006");
    },
    field007Categories() {
      const filter = (this.fullProfile) ? /\.*/ : this.$ISSN_PROFILE_007_KEYS_RE;
      return Object.values(schemaRegister.properties.fields.properties["007"].definitions)
        .map((item) => {
          return Object.keys(item.properties)
            .filter((key) => key.match(filter))
            .reduce((obj, key) => {
              obj[key] = item.properties[key];
              return obj;
            }, {})
        });
    },
    field008Types() {
      const filter = (this.fullProfile) ? /\.*/ : this.$ISSN_PROFILE_008_TITLES_RE;
      return this.getFieldTypes(filter, "008");
    },
  },
  methods: {
    getFieldTypes(filter, field) {
      return Object.keys(schemaRegister.properties.fields.properties[field].definitions)
        .filter((key) => key.match(filter))
        .reduce((obj, key) => {
          obj[key] = schemaRegister.properties.fields.properties[field].definitions[key];
          return obj;
        }, {})
    },
    sortObjectPositions(obj) {
      return Object.entries(obj).sort(([posA], [posB]) => {
        if (posA.length > 2) posA = posA.slice(0, 2);
        if (posB.length > 2) posB = posB.slice(0, 2);
        return parseInt(posA) - parseInt(posB);
      });
    },
    getField007CategoryTitle(field007) {
      const code = field007["00"].const;
      return field007["00"].codes[code].title;
    }
  }
}
</script>
