<template>
  <div>
    <header class="card-header">
      <p class="card-header-title">
        <span class="tag is-medium mr-2" :class="primaryColor">
          {{ field.tag }}
        </span>
        {{ field.value.title }}
        <span class="tag is-light mx-2">
          {{
          field.value.isRepeatable ? "R" : "NR"
          }}
        </span>
        <span
          class="tag is-warning is-light mx-2"
          v-if="field.value.ISSNProfile"
        >
          {{ field.value.ISSNProfile }}
        </span>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <table class="table is-narrow is-striped is-hoverable is-bordered">
              <thead class="has-background-info-light">
                <tr>
                  <th class="has-text-right is-narrow">Indicator 1</th>
                  <th class="has-text-left">Title</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(value, key) in field.value.properties.indicator1.code"
                  :key="key"
                >
                  <td class="has-text-right is-family-monospace">
                    {{ key }}
                  </td>
                  <td class="has-text-left">
                    {{ value.title }}
                    <b-tag
                      rounded
                      v-if="key == field.value.properties.indicator1.defaultValue"
                      type="is-success is-light"
                    >
                      default
                    </b-tag>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="column">
            <table class="table is-narrow is-striped is-hoverable is-bordered">
              <thead class="has-background-info-light">
                <tr>
                  <th class="has-text-right is-family-monospace">
                    Indicator 2
                  </th>
                  <th class="has-text-left">Title</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(value, key) in field.value.properties.indicator2.code"
                  :key="key"
                >
                  <td class="has-text-right">
                    {{ key }}
                  </td>
                  <td class="has-text-left">
                    {{ value.title }}
                    <b-tag
                      rounded
                      v-if="key == field.value.properties.indicator2.defaultValue"
                      type="is-success is-light"
                    >
                      default
                    </b-tag>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <table
          class="table is-narrow is-striped is-hoverable is-bordered"
          v-if="field.value.properties && 'subFields' in field.value.properties"
        >
          <colgroup>
            <col style="width: 5%" />
            <col />
            <col style="width: 5%" />
            <col style="width: 5%" />
          </colgroup>
          <thead class="has-background-info-light">
            <tr>
              <th class="has-text-right">Subfield</th>
              <th>Title</th>
              <th class="has-text-centered">Mandatory</th>
              <th class="has-text-centered">Repeatable</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(value, key) in field.value.properties.subFields.items.properties"
              :key="key"
              v-if="field.value.properties.subFields.items.properties && (fullProfile || value.ISSNProfile)"
            >
              <td class="has-text-right is-family-monospace">
                ${{ key }}
              </td>
              <td>
                {{ value.title }}
                <b-tag
                  rounded
                  v-if="field.value.properties.subFields.items.defaultProperties.includes(key)"
                  type="is-success is-light"
                >
                  default
                </b-tag>
              </td>
              <td class="has-text-centered">
                <b-tag
                  rounded
                  v-if="value.ISSNProfile"
                  type="is-warning is-light"
                >
                  {{ value.ISSNProfile }}
                </b-tag>
              </td>
              <td class="has-text-centered">
                <b-checkbox
                  v-model="value.isRepeatable"
                  disabled
                ></b-checkbox>
              </td>
            </tr>
            <tr
              v-for="(value, key) in field.value.properties.subFields.items.patternProperties"
              :key="key"
              v-if="field.value.properties.subFields.items.patternProperties && (fullProfile || value.ISSNProfile)"
            >
              <td class="has-text-right is-family-monospace">
                ${{ key }}
              </td>
              <td>
                {{ value.title }}
                <b-tag
                  rounded
                  v-if="field.value.properties.subFields.items.defaultProperties.includes(key)"
                  type="is-success is-light"
                >
                  default
                </b-tag>
              </td>
              <td class="has-text-centered">
                <b-tag
                  rounded
                  v-if="value.ISSNProfile"
                  type="is-warning is-light"
                >
                  {{ value.ISSNProfile }}
                </b-tag>
              </td>
              <td class="has-text-centered">
                <b-checkbox
                  v-model="value.isRepeatable"
                  disabled
                ></b-checkbox>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import schemaRegister from "../dist/himarc-register.schema.json";

export default {
  name: "DataField",
  props: {
    field: Object,
    primaryColor: String,
    fullProfile: Boolean,
  },
}
</script>
