<template>
  <div>
    <header class="card-header">
      <p class="card-header-title">
        <span class="tag is-medium mr-2" :class="primaryColor">LDR</span>
        {{ field.value.title }}
        <span class="tag is-light mx-2">NR</span>
        <span
          class="tag is-warning is-light mx-2"
          v-if="field.value.ISSNProfile"
        >
          {{ field.value.ISSNProfile }}
        </span>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <table
          class="table is-narrow is-striped is-hoverable is-bordered"
        >
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 30%" />
          </colgroup>
          <thead class="has-background-info-light">
            <tr>
              <th class="has-text-centered">Position</th>
              <th>Title</th>
              <th class="has-text-centered">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="[position, value] in leaderPositions"
              :key="position"
            >
              <td class="has-text-right">{{ position }}</td>
              <td class="has-text-left">
                {{ value.title }}
                <span
                  class="tag is-warning is-light mx-2"
                  v-if="value.ISSNProfile"
                >
                  {{ value.ISSNProfile }}
                </span>
              </td>
              <td>
                <table
                  class="table is-narrow is-striped is-hoverable is-bordered"
                  v-if="'codes' in value"
                >
                  <thead class="has-background-info-light">
                    <tr>
                      <th class="has-text-right is-narrow">Code</th>
                      <th class="has-text-left">Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(codeValue, code) in getPositionCodeValues(position)"
                      :key="codeValue.title"
                    >
                      <td class="has-text-right">{{ code }}</td>
                      <td class="has-text-left">{{ codeValue.title }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import schemaRegister from "../dist/himarc-register.schema.json";

export default {
  name: "LeaderField",
  props: {
    field: Object,
    primaryColor: String,
    fullProfile: Boolean,
  },
  computed: {
    leaderPositions() {
      return Object.entries(
        schemaRegister.properties.fields.properties.LDR.properties.positions.properties
      ).sort(([a], [b]) => {
        if (a.length > 2) a = a.slice(0, 2);
        if (b.length > 2) b = b.slice(0, 2);
        return a - b;
      });
    },
  },
  methods: {
    getPositionCodeValues(position) {
      // in ISSN profile only values 'i' and 's' are valid in position 7
      const positionCodes = this.leaderPositions.find(([pos, value]) => pos === position);
      let codeValues = positionCodes[1].codes;

      if (!this.fullProfile && position === "07") {
        codeValues = Object.keys(codeValues)
          .filter((key) => key.match(this.$ISSN_PROFILE_LDR_007_POSITION_CODES_RE))
          .reduce((obj, key) => {
            obj[key] = codeValues[key];
            return obj;
          }, {});
      }

      return codeValues;
    }
  }
}
</script>
